<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="nav navbar-nav" href="/"><i class="icon-bitbucket"></i>&nbsp;&nbsp;Travel Bucket</a>
	</div>

	{{#if loggedIn}}
	<a href="/dashboard">Dashboard</a>
	<button id="logout" class="btn-no-style">Logout</button>
	{{else}}
	<a href="/login">Login</a>
	{{/if}}
</nav>