<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
                <a class="nav navbar-nav" href="/"><i class="icon-bitbucket"></i>&nbsp;&nbsp;Travel Bucket</a>
        </div>

        {{#if loggedIn}}
        <a href="/dashboard">MyAdventures&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
</nav>
</div>
