<section>
	<h2>Create New Post</h2>

	<form action="/api/posts/uploads" method="post" enctype="multipart/form-data">
		<input type="file" accept="image/*" id="photo" name="photo"> 
		<input type="submit" class="btn" value="Upload Picture">

		<div>
			<br>
			<label for="post-title">Travel Location</label>
			<input type="text" id="post-title" name="post-title" />
		</div>
		<div>
			<label for="post_url">Blog or Travel Website Link</label>
			<input id="post-url" name="post-url" />
		</div>
	</form>

</section>
<br>
<br>
{{#if posts.length}}
<section>
	<h2>My Trips</h2>
	<br>

	{{#each posts as |post|}}
	{{> post-info post}}
	<a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit or Delete Post</a>

	{{/each}}

</section>
{{/if}}

<script src="/javascript/add-post.js"></script>