<div class="card-container">
	<div class="card-wrap-inner">
			<div class="col-md-4">
				<ol class="post-list">
					{{#each posts as |post|}}
					<div class="row">
						<div class="card mt-4" style="background-color:#e3f2fd;">
							{{!-- <img class="card-img-top" src="{{this.image}}"
								alt="card image"> --}}
							<img class="card-img-top">
							<a href="https://en.wikipedia.org/wiki/Boracay"
								target="_blank"><img
									src="//www.html.am/images/html-codes/links/boracay-white-beach-sunset-300x225.jpg"
									class="img-fluid" width="300" height="225"
									alt="Photo of White Beach in Boracay, Philippines"
									style="border:0;" /></a>

							<div class="card-body">
								<li>
									{{> post-info post }}
								</li>
							</div>
						</div>

					</div>
					{{/each}}
				</ol>
			</div>
		</div>
	</div>