<form class='login-form'>
	<div>
		<label for='email-login'>Email:</label>
		<input type='text' id='email-login' placeholder="ex: joe@mail.com" />
	</div>
	<div>
		<label for='password-login'>Password:</label>
		<input type='password' id="password-login" placeholder="At least 8 characters" />
	</div>
	<div>
		<button type="submit">LOGIN</button>
	</div>
</form>

<form class='signup-form'>
	<div>
		<label for='user-signup'>Username:</label>
		<input type='text' id='user-signup' placeholder="ex: Jacob112" />
	</div>
	<div>
		<label for='email-signup'>Email:</label>
		<input type='text' id='email-signup' placeholder="ex: joe@mail.com" />
	</div>
	<div>
		<label for='password-signup'>Password:</label>
		<input type='password' id='password-signup' />
	</div>
	<div>
		<button type='submit'>SIGNUP</button>
	</div>
</form>

<script src='/javascript/login.js'></script>