* {
	box-sizing: border-box;
      }
      
      body, html {
	height: 30%;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	color: #333;
	margin-top: 50px;
      }
      
      a {
	text-decoration: none;
	color: #225ca3;
	font-weight: bold;
	transition: color .1s;
      }
      
      a:hover {
	color: #3486eb;
      }
      
      button {
	background-color: #225ca3;
	border: 0;
	padding: 1%;
	color: white;
	font-weight: bold;
	transition: .1s;
	cursor: pointer;
	border-radius: 5px;
      }
      
      button:hover {
	background-color: #3486eb;
      }
      
      .post-list {
	margin: 0;
	padding: 0;
      }
      
      textarea, input {
	padding: .5%;
	border-radius: 5px;
	border: 1px solid #ccc;
      }
      
      textarea:focus, input:focus {
	outline: none;
	border: 1px solid #3486eb;
      }
      
      textarea {
	min-width: 40%;
	min-height: 100px;
      }
      
      form > div {
	margin-bottom: 2%;
      }
      
      form label {
	display: block;
      }
      
      .wrapper {
	width: 100%;
	min-height: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
      }
      
      .navbar {
        position: absolute;
        top: 0;
        right: 0;
        width: 100% !important;
        left: 0;
        border-bottom: 4px solid black;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 50px;
        padding-left: 35px;
        font-size: 24px;
      }

      .navbar-wrapper .navbar {
        width: 100% !important;
        }

      header h1 {
	font-size: 1em;
      }

      h2 {
            display: inline-block;
            margin-top: 2.5rem;
            margin-bottom: 2rem;
            background-color: #e3f2fd;
            border-radius: 20px;
            color: #225ca3;
            padding: 14px 32px 14px 32px;
      }

      h3 {
            display: inline-block;
            margin-top: 2.5rem;
            margin-bottom: 2rem;
            background-color: #e3f2fd;
            border-radius: 20px;
            color: #225ca3;
            padding: 14px 32px 14px 32px; 
      }
      
      main {
	flex: 1;
	padding: 2% 4%;
      }

      .container {
            padding-top: 50px;
      }

      .card {
	background-color: #e3f2fd;
      border: none;
	display: flex;  
      margin: auto;
      padding-top: 25px;
      padding-bottom: 25px;
      padding-left: 20px; 
      padding-right: 20px; 
      }

      .card-img-top {
            padding: 5px;
            text-align: center;
      }
      
      .img-fluid {
            max-width: 100%;
            height: auto;
      }

     p {
           color: #225ca3;
     }

      .btn {
	background-color: #225ca3;
	color: white;
      margin-top: 1.5rem;
      }
      
      .btn-no-style {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	text-decoration: none;
	color: #225ca3;
	font-size: 100%;
	font-weight: bold;
	transition: color .1s;
	margin-left: 16px;
      }
      
      .btn-no-style:hover {
	background: none;
	color: #3486eb;
      }
      
      .delete-post-btn {
	background-color: #d41414;
      }
      
      .delete-post-btn:hover {
	background-color: #851010;
      }
      
      .post {
	margin-bottom: 2%;
	line-height: 150%;
      }
      
      .post .title span {
	font-style: italic;
	font-size: 90%;
	color: #7d7d7d;
      }
      
      .edit-link {
	display: block;
	margin: -1.5% 0 2% 0;
      }

      .h7 {
            color: red;
      }
      
      .upvote-btn {
	background-color: #197d0f;
	transition: .1s;
      }
      
      .upvote-btn:hover {
	background-color: #1f9c13;
      }
      
      .comment-form {
	margin-bottom: 5%;
      }
      
      .comment {
	padding: 1%;
	margin-bottom: 1%;
      }
      
      .comment:nth-child(odd) {
	background-color: #fff5eb;
      }
      
      .comment .meta {
	font-size: 90%;
	margin-bottom: .5%;
	opacity: .6;
      }
      
      .new-post-form {
            font-weight: bolder;
            color: #225ca3;
      }

      .new-post-form input {
	width: 300px;
      }
      
      .edit-post-form {
	margin-bottom: 5%;
      }
      
      @media screen and (max-width:576px){
            img.responsive {
                  width: 100%;
            }
            .topnav a {
                  float: none;
                  width: 100%;
                  text-align: center;
                }
            .new-post-body {
                  float: center;
                  text-align: center;  
            }
            #logout {
                  float: none;
                  width: 100%;
                  text-align: center;
            }
            main {
                  margin-top: 7rem;
            }
          }

      @media screen and (max-width:768px){
            img.responsive {
                  width: 100%;
            }
            .topnav a {
                  float: none;
                  width: 100%;
                  text-align: center;
                  padding: 8px 10px;
                }
             h2 {
                  margin: 10rem 0rem 0rem 0rem;
                }
            h3 {
                  margin: 4rem 0rem 0rem 0rem; 
            }
            li {
                  margin: 3rem 0rem 3rem 0rem;   
            } 
            #logout {
                  float: none;
                  width: 100%;
                  text-align: center;
            }
            .new-post-form {
                  margin-top: 8rem;
                  float: center;
            }
            .btn {
                  margin-top: 1.5rem;
            }
            .row {
                  margin-bottom: 10rem;
            }
            main {
                  margin-top: 7rem;
            }
          }

      @media screen and (max-width:992px){
            img.responsive {
                  width: 100%;
            }
            .topnav a {
                  float: none;
                  width: 100%;
                  text-align: center;
                  padding: 0px;
                }
            #logout {
                  float: none;
                  width: 100%;   
            }
            .new-post-form {
                  margin-top: 8rem;
                  text-align: center;
            }
            .btn {
                  margin-top: 1.5rem;
            }
            .row {
                  margin-bottom: 10rem;
            }
            main {
                  margin-top: 7rem;
            }
          }
          
          @media screen and (min-width:1025px){
            img.responsive {
                  width: 100%;
            }
            main {
                  margin-top: 2.5rem;
            }
          }

      footer {
        display: flex;
        justify-content: center;
        padding: 20px;
        font-size: 13px;
        left: 0;
        right: 0;
        text-decoration: none;
        color: #225ca3;
        font-weight: bold;
      }

